*.DS_Store
*.iml
.idea/
.svn/
.ipr
.iws
*.diff
*.patch
*.bak
*.db
*.project
.*proj
*.swp
*.swo
*.pyc
*.pyo
*.log
*.sublime-project
*.sublime-workspace
*.mp4
*.avi
*.psd
*.vel
*.png
*.jpg
*.tif
*.pem
node_modules
npm-debug.log
_site
.cache
*.pdf
psd
video
archive
__MACOSX
examples
build